<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <!-- Thêm mới connection string cho phù hợp -->
        <add name="QL_CUAHANG_THOITRANG.Properties.Settings.QL_CUAHANG_THOITRANGConnectionString"
            connectionString="Data Source=THIS-PC\SQLEXPRESS;Initial Catalog=QL_CUAHANG_THOITRANG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <!--<add name="QL_CUAHANG_THOITRANG.Properties.Settings.QL_CUAHANG_THOITRANGConnectionString1"
            connectionString="Data Source=DIENVAODAY;Initial Catalog=QL_CUAHANG_THOITRANG;Integrated Security=True"
            providerName="System.Data.SqlClient" /> -->
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>